<template>
  <div>
    <li class="nav-item" v-if="notifications.length">
      <a class="nav-link" data-toggle="modal" data-target="#notifications" href="#">
        <i class="fa fa-bell" aria-hidden="true"></i>
      </a>
    </li>
    <!-- Modal -->
    <div
      class="modal fade"
      id="notifications"
      tabindex="-1"
      role="dialog"
      aria-labelledby="notifications-label"
    >
      <div class="modal-dialog modal-dialog-slideout" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="notifications-label">
              <i class="fa fa-bell" aria-hidden="true"></i> Notifications
            </h4>
          </div>

          <div class="modal-body">
            <ul class="list-unstyled">
              <li class="notification active my-2" v-for="(notification, index) in notifications" :key="index">
                <div class="media">
                  <div class="media-left">
                    <div class="media-object">
                      <i class="fa fa-bell"></i>
                    </div>
                  </div>
                  <div class="media-body ml-1">
                    <strong class="notification-title">
                      <a :href="notification.data.action" @click="markRead(notification.id)">{{ notification.data.message }}</a>
                    </strong>
                    <div class="notification-meta">
                      <small class="timestamp">{{ notification.created_at }}</small>
                    </div>
                  </div>
                </div>
              </li>
            </ul>

            <button class="btn btn-default btn-block" @click="clearNotifications()" v-if="notifications.length">Clear all notifications.</button>
          </div>
        </div>
        <!-- modal-content -->
      </div>
      <!-- modal-dialog -->
    </div>
    <!-- modal -->
  </div>
</template>

<script>
  export default {
    props: ['userId'],
    data(){
      return {
        notifications: []
      }
    },
    created() {
      this.getNotifications();

      Echo.private('users.' + this.userId)
        .listen('NewNotification', (e) => {
          this.getNotifications();
          toastr.info(e.message);
        });
    },
    methods: {
      getNotifications(){
        axios.get('/notifications').then((response) => {
          this.notifications = response.data.notifications;
        }).catch((error) => {
          console.log(error.message);
        });
      },
      markRead(id) {
        axios.patch('/notifications/' + id)
          .then()
          .catch(error => console.log(error.message));
      },
      clearNotifications(){
        axios.delete('/notifications').then((response) => {
          toastr.success(response.data.message);
          this.notifications = [];
        }).catch((error) => {
          console.log(error.message);
        });
      }
    }
  };
</script>
